@import "../../ui-kit";

.pages-list {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    margin-bottom: rem(30);

    h1 {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  &__search-box {
    flex: 0 1 rem(400);
    position: relative;

    input {
      padding-right: rem(30);
    }

    .xMark {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: rem(5);
    }
  }

  &__list {
    list-style: none;
  }
}
