@import "../../ui-kit";

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: rem(15) 0;

  background-color: $black;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
