@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "ui-kit";

// ===================================================================
// tags

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--theme-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-text-color);
  border-radius: 50px;
}

::selection {
  background-color: $pink;
  color: $black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  &.light {
    --theme-link-color: #cf4637;
    --theme-text-color: #221d21;
    --theme-bg-color: #b7aea5;
  }
}

h1,
h2,
h3 {
  &:not(:first-child) {
    margin-top: rem(30);
  }
  &:not(:last-child) {
    margin-bottom: rem(30);
  }
}

p {
  &:not(:first-child) {
    margin-top: rem(20);
  }
}

a {
  color: var(--theme-link-color);

  @media screen and (min-width: $media-screen-sm) {
    &:hover {
      text-decoration: none;
    }
  }
}

ul,
ol {
  &:not(:first-child) {
    margin-top: rem(15);
  }
  &:not(:last-child) {
    margin-bottom: rem(10);
  }

  padding-left: rem(20);

  ul,
  ol {
    padding-left: rem(10);
  }
}

li {
  &:not(:first-child) {
    margin-top: rem(10);
  }
}

input {
  width: 100%;
  background-color: $light-pink;
  color: $black;
  font-size: rem(18);
  padding: rem(5) rem(10);
  outline: none;

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.7);
  }
}

// ===================================================================
// ids

#root {
  font-family: "Inter", sans-serif;
  font-size: $root-font-size + px;
  color: var(--theme-text-color);
  background-color: var(--theme-bg-color);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
    padding: rem(75) 0 rem(50);
  }
}

// ===================================================================
// classes

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 rem(15);
}

.back-btn {
  width: rem(40);
  height: rem(40);
  background-color: var(--theme-bg-color);

  border: 3px solid var(--theme-link-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: rem(25);
  line-height: 100%;
  font-weight: 700;
  color: var(--theme-link-color);
  text-decoration: none;

  cursor: pointer;

  @media screen and (min-width: $media-screen-sm) {
    &:hover {
      border-color: $light-pink;
      color: $light-pink;
    }
  }
}

.x-mark {
  background-color: transparent;
  width: rem(20);
  height: rem(20);
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: inline-block;
    height: rem(3);
    width: 100%;

    background-color: $black;
    cursor: pointer;

    &:nth-child(1) {
      rotate: 45deg;
    }
    &:nth-child(2) {
      rotate: -45deg;
    }
  }
}

.theme-btn {
  background-color: transparent;
  color: var(--theme-text-color);
  font-size: 25px;
  cursor: pointer;
}
