@import "ui-kit";

// ===================================================================
// tags

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 50px;
}

::selection {
  background-color: $pink;
  color: $black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  &:not(:first-child) {
    margin-top: rem(30);
  }
  &:not(:last-child) {
    margin-bottom: rem(30);
  }
}

p {
  &:not(:first-child) {
    margin-top: rem(20);
  }
}

a {
  color: $light-pink;

  @media screen and (min-width: $media-screen-sm) {
    &:hover {
      text-decoration: none;
    }
  }
}

ul,
ol {
  &:not(:first-child) {
    margin-top: rem(15);
  }
  &:not(:last-child) {
    margin-bottom: rem(10);
  }

  padding-left: rem(20);

  ul,
  ol {
    padding-left: rem(10);
  }
}

li {
  &:not(:first-child) {
    margin-top: rem(10);
  }
}

input {
  width: 100%;
  background-color: $light-pink;
  color: $black;
  font-size: rem(18);
  padding: rem(5) rem(10);
  outline: none;

  &::placeholder {
    color: rgba($color: $black, $alpha: 0.7);
  }
}

// strong {
//   color: $pink;
// }

// del {
//   color: $orange;
// }

// em {
//   color: $light-pink;
// }

// ===================================================================
// ids

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: $root-font-size + px;
  color: $white;
  background-color: $black;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
    padding: rem(75) 0 rem(50);
  }
}

// ===================================================================
// classes

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 rem(15);
}

.back-btn {
  width: rem(40);
  height: rem(40);
  background-color: $black;

  border: 3px solid $pink;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  font-weight: 700;
  color: $pink;
  text-decoration: none;

  cursor: pointer;

  @media screen and (min-width: $media-screen-sm) {
    &:hover {
      border-color: $light-pink;
      color: $light-pink;
    }
  }
}

.xMark {
  background-color: transparent;
  width: rem(20);
  height: rem(20);
  position: relative;

  span {
    &:nth-child(1),
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      display: inline-block;
      height: rem(3);
      width: 100%;

      background-color: $black;
    }

    &:nth-child(1) {
      rotate: 45deg;
    }
    &:nth-child(2) {
      rotate: -45deg;
    }
  }
}
