$root-font-size: 16;

$white: #b7aea5;
// $orange: #f77016;
// $dark-orange: #e33c08;
// $dark-gray: #433d3d;
$black: #221d21;

// $white: #a1a6aa;
$light-pink: #bd928b;
$pink: #de7571;
$dark-orange: #f95240;
// $black: #282634;

$media-screen-xs: "479.99px";
$media-screen-sm: "767.99px";
$media-screen-md: "1059.99px";

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;

@function rem($px) {
  @return ($px / $root-font-size) + rem;
}

@function em($px) {
  @return ($px / $root-font-size) + em;
}

@function percent($size-text, $line-height) {
  @return $line-height / $size-text * 100%;
}
